@model ITInvestVarna.ViewModels.Home.LoginVM

@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content" style="height:100%">
    <section class="main" style="height:100%;">
        <div id="contact_section" style="width:70%">
        @using (Html.BeginForm("Login", "Home", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)


                <h3>Log in</h3>
                @Html.ValidationMessage("authenticationFailed", new { style = "color: red;" })
                @Html.ValidationMessage("ServerError", new { style = "color: red;" })
              
                        @Html.LabelFor(model => model.Email )
                        @Html.TextBoxFor(model => model.Email) @Html.ValidationMessageFor(model => model.Email, null, new { style = "color:  red;" })
               
                       @Html.LabelFor(model => model.Password)
                        @Html.PasswordFor(model => model.Password) @Html.ValidationMessageFor(model => model.Password, null, new { style = "color:  red;" })
                
                   
                       <input type="submit" value="Login" />
                   
           


        }
            </div>
    </section>
</div>

